<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="saveDamzelQuest" class="org.java.spring.in.action.tutorial.model.SaveDamzelQuest">
	</bean>
	<bean id="cowardlyQuest" class="org.java.spring.in.action.tutorial.model.CowardlyQuest">
	</bean>
	 <!-- <bean id="braveKnight" class="org.java.spring.in.action.tutorial.model.BraveKnight"
		c:_0-ref="saveDamzelQuest">
	</bean> --> 
	 <bean id="braveKnight" class="org.java.spring.in.action.tutorial.model.BraveKnight">
	 	<constructor-arg name="quest" ref="saveDamzelQuest"/>
	</bean>
	<bean id="machineGunCD" class="org.java.spring.in.action.tutorial.model.MachineGunCD">
		<constructor-arg>
		<!-- populating a list with predefined values
			the same goes for a set -->
			<list>
				<value>Mr Putin is Happy!</value>
				<value>Party in the Kremlin</value>
				<value>Vasily Zaitev and the rifle</value>
				<value>Burn baby burn!</value>
				<value>Go say hello!She is waiting for you!</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="cowardlyKnight" class="org.java.spring.in.action.tutorial.model.CowardlyKnight">
		<property name="quest" ref="cowardlyQuest"/>
	</bean>
	
	<!-- <bean id="braveKnight" class="org.java.spring.in.action.tutorial.model.BraveKnight"
		c:quest-ref="saveDamzelQuest" >
		<constructor-arg ref="saveDamzelQuest"/>
	</bean> -->

</beans>
