<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="quest" 
		  class="org.java.spring.in.action.tutorial.model.SaveDamzelQuest" 
		  scope="prototype">
	</bean>
	<bean id="knight" 
	      class="org.java.spring.in.action.tutorial.model.BraveKnight"
	      scope="singleton">
		<constructor-arg ref="quest"/>
	</bean>
	<!-- Importing another spring configuration xml file -->
	<import resource="springConfig.xml"/>
	<!-- Importing spring java configuration files  -->
	<bean class="org.java.spring.in.action.tutorial.main.SpringConfig"/>
	<bean class="org.java.spring.in.action.tutorial.main.SpringConfig2"/>
</beans>
